<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css"/>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <!-- Cloudflare Web Analytics - SORRY WORLD, at least its not google -->
  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "02fa832a3068478a8953ba296ac6ad97"}'></script>
  <!-- End Cloudflare Web Analytics -->
</head>
<body>
    <div id="root">
        <div id="header">
            {% block header %}{% endblock %}
        </div>
        {% block aside %}{% endblock %}
        <main>
            {{ content | safe }}
        </main>
    </div>
</body>
