{% extends "layouts/base.njk" %}

{% block aside %}
    <aside>
        {% markdown %}
            {% include 'about.md' %}
        {% endmarkdown %}
    </aside>
{% endblock %}

{% block header %}
    <h1>Ashley Arthur</h1>
{% endblock %}