---
layout: layouts/base.njk
title: archive
---
<h1>Archive</h1>
<ol>
    {%- for post in collections.production_posts -%}
    <li><a href={{post.url}}>{{ post.data.title }}</a></li>
    {%- endfor -%}
</ol>
