---
layout: layouts/index.njk
title: index
---
{% set latest = collections.production_posts | last  %}

Latest:
<hgroup>
<h1>{{ latest.data.title }}</h1>
	<time datetime="{{ latest.data.date | htmlDateString }}">{{ latest.data.date | readableDate }}</time>
</hgroup>
{{latest.templateContent | safe}}
